#!/bin/bash

#SBATCH --partition=QUEUE
#SBATCH --gres=gpu:1
#SBATCH --time=03:50:00
#SBATCH --output="DIR/slurm.prod.out"
#SBATCH --error="DIR/slurm.prod.err"
#SBATCH --job-name="TAG"

cd DIR

run_assembly.sh NSTEPS

if [ -s requeue ]; then
   scontrol requeue $SLURM_JOB_ID
else
   echo job cannot be requeued
fi
