#!/bin/bash

#SBATCH --partition=QUEUE
#SBATCH --gres=gpu:1
#SBATCH --time=03:50:00
#SBATCH --output="DIR/BDIR/slurm.prod.out"
#SBATCH --error="DIR/BDIR/slurm.prod.err"
#SBATCH --job-name="TAG.BIAS"

cd DIR

run_distumbrella_cocomo.sh BIAS NSTEPS

if [ -s BDIR/requeue ]; then
   scontrol requeue $SLURM_JOB_ID
else
   echo job cannot be requeued
fi
